<div class="game-tabs">
  <mat-tab-group mat-align-tabs="start" backgroundColor="primary">
    <mat-tab label="About">
      <p class="game-tabs-par">
        Platforms:
        <span>PC</span>
      </p>
      <p class="game-tabs-par">
        Publishers:
        <span>Konami</span>
      </p>
      <p class="game-tabs-par">
        Website:
        <a href="" class="game-tabs-link" target="_blank">HTTP://</a>
      </p>
      <div class="game-description">Some Description</div>
      <p class="game-tabs-votes">
        <span>
          <mat-icon class="game-votes-up">thumb-up</mat-icon>
          <span class="game-votes-count">55</span>
        </span>
        <span>
          <mat-icon class="game-votes-down">thumb-down</mat-icon>
          <span class="game-votes-count">12</span>
        </span>
      </p>
    </mat-tab>
    <mat-tab label="Screenshots">
      <img class="game-screenshot" src="COCO" alt="screenshot">
    </mat-tab>
    <mat-tab label="Trailers">
      <video class="game-trailer" controls>
        <source src="https://www.youtube.com/watch?v=dQw4w9WgXcQ" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </mat-tab>
  </mat-tab-group>
</div>
